<% provide(:title, "Record delivery") %>

<div class="agent-page mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h3>Record sales</h3>
            </div>
            <div class="mdl-layout-spacer"></div>
            
            <%= form_for(:delivery, url: deliveries_path) do |f| %>
                <%= content_tag :div, :class => "mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col" do %>
                    <%= f.text_field :date_delivered, class: 'mdl-textfield__input', pattern: "^(19|20)\d\d([- /.])(0[1-9]|1[012])\2(0[1-9]|[12][0-9]|3[01])" %>
                    <%= f.label :date_delivered, class: 'mdl-textfield__label' %>
                    <% flash.each do |message_type, message| %>
                        <span class="mdl-textfield__error"><%= message %></span>
                    <% end %>
                <% end %>
             
                <%= content_tag :div, :class => "mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col" do %>
                    <%= f.text_field :time_delivered, class: 'mdl-textfield__input', pattern: "^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" %>
                    <%= f.label :time_delivered, class: 'mdl-textfield__label' %>
                    <% flash.each do |message_type, message| %>
                        <span class="mdl-textfield__error"><%= message %></span>
                    <% end %>
                <% end %>
                
                <%= content_tag :div, :class => "mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col" do %>
                    <%= f.autocomplete_field :supplier_supplier_name, autocomplete_supplier_supplier_name_deliveries_path, class: 'mdl-textfield__input' %>
                    <%= f.label :supplier_name, class: 'mdl-textfield__label' %>
                    <% flash.each do |message_type, message| %>
                        <span class="mdl-textfield__error"><%= message %></span>
                    <% end %>
                <% end %>
            
            <% end %>

          </div>
          
          <%= render 'deliveries/additional_delivery' %>