    <% if user_type == "agent" %>
        <img src="images/user.jpg" class="demo-avatar">
          <b><%= current_user.first_name %> <%= current_user.last_name %></b>
         <div class="mdl-layout-spacer"></div>
          for
         <span>Client Company</span>
    <% elsif user_type == "warehouse_staffer" %>
        <b><%= current_user.first_name %> <%= current_user.last_name %></b>
        <span>Warehouse Staffer</span>
    <% else %>
        <b><%= current_user.name %></b>
        <span>Manager</span>
    <% end %>